<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>NY House Price Prediction</title>
</head>
<body>
    <h2>Enter House Details</h2>
    <form method="post" action="/predict">
        Type: <input type="number" name="type"><br>
        Beds: <input type="number" name="beds"><br>
        Bath: <input type="number" name="bath"><br>
        Area: <input type="number" step="any" name="area"><br>
        Place: <input type="number" name="place"><br>
        Sublocality: <input type="number" name="sublocality"><br>
        <input type="submit" value="Predict">
    </form>
</body>
</html>
